html {
    background-color: #fefefe;
    scroll-behavior: smooth
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #454545;
    font-size: 16px;
    margin: 48px auto;
    max-width: 800px;
    line-height: 1.6;
    text-align: justify
}

@media screen and (max-width:832px) {
    body {
        padding: 16px
    }
}

h1 {
    margin-bottom: 0px;
}

h1 a {
    color: currentColor;
    text-decoration: none
}

h1 a:visited {
    color: currentColor;
    text-decoration: none
}

h1:hover a::after {
    content: "💬";
    float: right
}

div#navigation {
    display: flex
}

div#navigation,
div#ajaxable,
div#version {
    transition: opacity 128ms ease-in-out 64ms;
}

div#navigation:not(:focus-within):not(:hover):not(:active) {
    opacity: 10%;
}

div#ajaxable.loading {
    opacity: 25%;
}

input#whereTo {
    width: 100%;
}

p {
    text-indent: 5ch;
}

img {
    display: none;
}

input[type=checkbox]#imgscheck:checked + #ajaxable img {
    display: initial;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}

table {
    border: solid 1px lightgrey;
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    border: solid 1px lightgrey;
}

html.serif body {
    font-family: 'Cormorant Garamond', serif;
    font-size: 19.1px;
    line-height: 1.28;
}

html.serif div#serif {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

html.contrast body {
    color: #050505
}

html.contrast a {
    color: #0051c9
}

html.contrast a:visited {
    color: #7d013e
}

html.inverted {
    background-color: #010101
}

html.inverted body {
    color: #bababa
}

html.inverted div#contrast,
html.inverted div#invmode,
html.inverted div#serif {
    color: #fff;
    background-color: #000
}

html.inverted a {
    color: #07a
}

html.inverted a:visited {
    color: #ac5a82
}

html.inverted.contrast {
    background-color: #010101
}

html.inverted.contrast body {
    color: #fff
}

html.inverted.contrast div#contrast,
html.inverted.contrast div#invmode,
html.inverted.contrast div#serif {
    color: #fff;
    background-color: #000
}

html.inverted.contrast a {
    color: #07a
}

html.inverted.contrast a:visited {
    color: #ac5a82
}

a {
    color: #07a
}

a:visited {
    color: #941352
}

div#contrast {
    color: #000;
    top: 10px
}

div#serif {
    color: #000;
    top: 34px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 19.1px;
    line-height: 1.28;
}

#imgscheck {
    top: 84px;
}

div#contrast,
div#invmode,
div#serif,
div#version,
#imgscheck {
    cursor: pointer;
    position: fixed;
    right: 10px;
    text-decoration: underline;
    text-decoration-style: dotted;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

div#invmode {
    color: #fff;
    background-color: #000;
    top: 56px;
    padding: 2px 5px
}

div#version {
    bottom: 10px;
}

div#version:not(:hover) {
    opacity: 0.5;
}

div#version:hover::after {
    content: " "attr(data-tooltip);
    float: right;
}

div#arrow {
    position: fixed;
    top: 0px;
    left: 0px;
    width: calc(50% - 400px);
    height: 100%;
    opacity: 0.2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div#arrow:hover {
    opacity: 1;
}

div#arrow span {
    display: block;
    width: 10px;
    height: 10px;
    border-top: 3px solid gray;
    border-right: 3px solid gray;
    transform: rotate(-45deg);
    margin: -3px;
}

div#arrow:hover span{
    animation: totop 2s infinite;
}
 
div.right:hover span{
   animation: none;
}
 
div#arrow:hover span:nth-child(2){
    animation-delay: 0.1s;
}
 
div#arrow:hover span:nth-child(3){
    animation-delay: 0.2s;
}

@keyframes totop {
    60% {
        opacity: 1;
    }
    70%{
        transform: translate(0,-40px) rotate(-45deg);
    }
    71%{
        opacity: 0;
        transform: translate(0,0px) rotate(-45deg);
    }
    80% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media screen and (max-width:1200px) {
    div#contrast,
    div#invmode,
    div#serif,
    #imgscheck {
        position: absolute;
    }
    div#version {
        position: unset;
        margin-right: 10px;
        float: right
    }
}

@media screen and (max-width:900px) {
    div#arrow {
        position: unset;
        width: 100%;
        opacity: 1;
    }
    div#arrow span:nth-child(1){
        margin-top: 30px;
    }
}

@media print {
    div#navigation,
    div#arrow,
    div#contrast,
    div#invmode,
    div#serif,
    #imgscheck,
    div#version {
        display: none;
    }
}